<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/"><p class="navbar-brand">DAILY JOURNAL</p></a>
            </div>
            <ul class="nav">
                <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
                <li class="nav-item"  id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
                <li class="nav-item"  id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="main-container">
        <div class="container">


