<%- include('partials/header.ejs'); -%>
    <h1><%=title%></h1>
    <p><%=content%></p>
</div>
<div class="footer post">
    <p class="footer-p">Made with ❤️️ by iamNishanth.</p>
</div>
</div>
</body>
</html>
